<h1>Human Management System</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/individuals" routerLinkActive="active">Individuals</a>
  <a routerLink="/organisations" routerLinkActive="active">Organisations</a>
  <a routerLink="/crews" routerLinkActive="active">Crews</a>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/workplaces" routerLinkActive="active">Work Places</a>
</nav>
<router-outlet></router-outlet>
