<h3>Individuals</h3>
<div class="grid grid-pad">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							First Name
						</th>
						<th>
							Last Name
						</th>
						<th>
							Weight (kgs)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let individual of individuals" (click)="gotoDetail(individual)">
						<td>
							{{individual.id}}
						</td>
						<td>
							{{individual.firstName}}
						</td>
						<td>
							{{individual.lastName}}
						</td>
						<td>
							{{individual.weightKgs}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--
<indivudal-search></individual-search>
-->

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
