<h2>Individuals</h2>

<div class="container-fluid">

	<div class="grid grid-pad">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Weight (kgs)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let individual of individuals" (click)="gotoDetail(individual)">
							<td>
								<span class="badge">{{individual.id}}</span>
							</td>
							<td>
								{{individual.firstName}}
							</td>
							<td>
								{{individual.lastName}}
							</td>
							<td>
								{{individual.weightKgs}}
							</td>
							<td>
								<button type="button" class="btn btn-default" aria-label="Edit"
						      (click)="edit(individual); $event.stopPropagation()"><span class = "glyphicon glyphicon-edit" aria-hidden="true"></span></button>
								<button type="button" class="btn btn-danger" aria-label="Delete"
						      (click)="delete(individual); $event.stopPropagation()"><span class = "glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" *ngIf="editedIndividual==null" class="btn btn-default" aria-label="Add New Record"
					(click)="createNew(); $event.stopPropagation()"><span class = "glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="editedIndividual!=null">
		<div class="col-md-12">
			<form role="form"  (ngSubmit)="save()" #heroForm="ngForm">
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" class="form-control" id="firstName" required
                        [(ngModel)]="editedIndividual.firstName" name="firstName"
                        #firstName="ngModel"/>
                    <div [hidden]="firstName.valid || firstName.pristine"
                        class="alert alert-danger">
                        First Name is required
                    </div>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" class="form-control" id="lastName" required
                        [(ngModel)]="editedIndividual.lastName" name="lastName"
                        #lastName="ngModel"/>
                    <div [hidden]="lastName.valid || lastName.pristine"
                        class="alert alert-danger">
                        Last Name is required
                    </div>
				</div>
				<div class="form-group">
					<label for="weightKgs">Weight (kgs)</label>
					<input type="number" class="form-control" id="weightKgs" required
                        [(ngModel)]="editedIndividual.weightKgs" name="weightKgs"
                        #weightKgs="ngModel"/>
                    <div [hidden]="weightKgs.valid || weightKgs.pristine"
                        class="alert alert-danger">
                        Weight is required
                    </div>
				</div>
				<!--div class="form-group">
					<label for="photo">Photo</label>
					<input type="file" id="photo"
                        [(ngModel)]="editedIndividual.photo" name="photo"
                        #photo="ngModel"/>
                    />
					<p class="help-block">
						Upload a photograph here.
					</p>
				</div-->


				<!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->


		    <!-- <div class="col-md-9" style="margin-bottom: 40px">
		        <h3>Upload queue</h3>
		        <p>Queue length: </p>

		        <table class="table">
		            <thead>
		            <tr>
		                <th width="50%">Name</th>
		                <th>Size</th>
		                <th>Progress</th>
		                <th>Status</th>
		                <th>Actions</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr *ngFor="let item of uploader.queue">
		                <td><strong></strong></td>
		                <td *ngIf="uploader.isHTML5" nowrap>0.00 MB</td>
		                <td *ngIf="uploader.isHTML5">
		                    <div class="progress" style="margin-bottom: 0;">
		                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
		                    </div>
		                </td>
		                <td class="text-center">
		                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                </td>
		                <td nowrap>
		                    <button type="button" class="btn btn-success btn-xs"
		                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
		                        <span class="glyphicon glyphicon-upload"></span> Upload
		                    </button>
		                    <button type="button" class="btn btn-warning btn-xs"
		                            (click)="item.cancel()" [disabled]="!item.isUploading">
		                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
		                    </button>
		                    <button type="button" class="btn btn-danger btn-xs"
		                            (click)="item.remove()">
		                        <span class="glyphicon glyphicon-trash"></span> Remove
		                    </button>
		                </td>
		            </tr>
		            </tbody>
		        </table>

		        <div>
		            <div>
		                Queue progress:
		                <div class="progress" style="">
		                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
		                </div>
		            </div>
		            <button type="button" class="btn btn-success btn-s"
		                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
		                <span class="glyphicon glyphicon-upload"></span> Upload all
		            </button>
		            <button type="button" class="btn btn-warning btn-s"
		                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
		                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
		            </button>
		            <button type="button" class="btn btn-danger btn-s"
		                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
		                <span class="glyphicon glyphicon-trash"></span> Remove all
		            </button>
		        </div>
		    </div> -->


				<div class="form-group">
					<label for="tribe">Tribe</label>
					<input type="text" class="form-control" id="tribe"
                        [(ngModel)]="editedIndividual.tribe" name="tribe"
                        #tribe="ngModel"/>
				</div>
				<div class="form-group">
					<label for="clan">Clan</label>
					<input type="text" class="form-control" id="clan"
                        [(ngModel)]="editedIndividual.clan" name="clan"
                        #clan="ngModel"/>
				</div>
				<div class="form-group">
					<label for="village">Village</label>
					<input type="text" class="form-control" id="village"
                        [(ngModel)]="editedIndividual.village" name="village"
                        #village="ngModel"/>
				</div>

				<button type="submit" class="btn btn-default">
					<span [hidden]="!editedIndividual.id">Update</span>
					<span [hidden]="editedIndividual.id">Add</span>
				</button>
				<button type="button" (click)="reset()" class="btn btn-danger">
					Cancel
				</button>
			</form>
		</div>
	</div>
</div>
