<h2>Organisations</h2>

<div class="container-fluid">

	<div class="grid grid-pad">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Name
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let organisation of organisations" (click)="gotoDetail(organisation)">
							<td>
								<span class="badge">{{organisation.id}}</span>
							</td>
							<td>
								{{organisation.name}}
							</td>
							<td>
								<button type="button" class="btn btn-default" aria-label="Edit"
						      (click)="edit(organisation); $event.stopPropagation()"><span class = "glyphicon glyphicon-edit" aria-hidden="true"></span></button>
								<button type="button" class="btn btn-danger" aria-label="Delete"
						      (click)="delete(organisation); $event.stopPropagation()"><span class = "glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" *ngIf="editedOrganisation==null" class="btn btn-default" aria-label="Add New Record"
					(click)="createNew(); $event.stopPropagation()"><span class = "glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
</div>
